page-home {
    // .card-background-page {
    //     background-color:whitesmoke
    //     ion-col{
    //         position: relative;
    //     }
    //     ion-card {
    //         position: relative;
    //         text-align: center;
    //     }
    //     .card-title {
    //         position: absolute;
    //         top: 36%;
    //         font-size: 2.0em;
    //         width: 100%;
    //         font-weight: bold;
    //         color: #ffffff;
    //         //opacity: 0.8;
    //     }
    // }
    // @media (min-width: 600px) {
    //     .test {
    //         width: 60%;
    //         margin: 10px auto;
    //     }
    // }
    // .titleicon div{
    //     display:inline-block;
    //     margin-bottom:10px;
    //     text-align: center;
    //     }
    @import url(https://fonts.googleapis.com/css?family=Acme);
    .title {
      font-size: 2em;
      //font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      font-family: 'Acme', sans-serif;
    }
    .card-background-page {
        background: black;

        // ion-card {
        //   position: relative;
        //   text-align: center;     
        //   width:95%;
        // }
      
        // .card-title {
        //   position: absolute;
        //   bottom: 50%;
        //   font-size: 2.0em;
        //   width: 100%;
        //   font-weight: bold; 
        //   background: black;
        //   opacity: 0.6 ; 
        // }
        // .card-title h1{
        //     opacity: 1; 
        //     background: -webkit-linear-gradient(white, white);
        //     font-weight: bold;
        //     -webkit-background-clip: text;
        //     -webkit-text-fill-color: transparent;
             
        // }
      
        // .card-subtitle {
        //   font-size: 1.0em;
        //   position: absolute;
        //   bottom: 10%;
        //   width: 100%;
        //   color: #fff;
        // }

        // .card-vermas{
        //   position: absolute;
        //   bottom: 1%;
        //   left: 1%;
        //   font-size: 2.0em;   
        //   font-weight: bold;  
        // }
      
      }


      .white{
        color: white;
      }


      
.homebox {
  position: relative; 
  overflow: hidden
}
 

// .homebox .img-wrap .the-thumb {
//   /* padding-top: 71.5%; */
//   background-size: cover !important;
//   background-position: center !important;
//   transition: all .7s ease;
//   opacity: .1;
//   -webkit-transform: translate3d(0, 0, 0);
//   -moz-transform: translate3d(0, 0, 0);
//   -o-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0)
// }

.homebox a:hover .the-thumb {
  transform: scale(1.3, 1.3);
  opacity: 5
}

.homebox a img {
  width: 100%;
  height: 230px;
  opacity: 0.65;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
}
/*
.homebox a:hover img {
  opacity: 1;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5)
}*/

.box-content {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 20px 13px 20px;
  line-height: 28px;
  white-space: nowrap
}

  ion-slide.swiper-slide{
    left: 25%;
    
  }
  .thumb-img{
    padding: 2px;
    //size: 15px
  }

  // .navbar {
  //   position: relative;
  // }
  .brand {
    position: relative;
    left: 50%;
    margin-left: -95px !important;  /* 50% of your logo width */
    display: block;
}
}
