page-home {
    .card-background-page {
        background-color:grey;
        ion-col{
            position: relative;
        }
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #ddc4bc;
        }
    }
    @media (min-width: 600px) {
        .test {
            width: 60%;
            margin: 10px auto;
        }
    }
}
