<ion-header no-border>
  <ion-navbar color="dark" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-buttons end>
      <button color="light" *ngIf="_us.activo()" (click)="_us.cerrar_sesion()" >
        Salir
      </button>
    </ion-buttons> -->
    <ion-title> TuristeaPe </ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  
  <ion-col *ngFor="let item of _ps.lugares" [navParams]="{ producto : item }" [navPush]="profilePage">
    <ion-card>
      <img src="http://localhost:8082/rest/public/img/imagenes/{{ item.codigo }}.jpg">
      <div class="card-title">{{item.lugar}}</div>
    </ion-card>
  </ion-col>


  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>