page-home {

  .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            img{
                opacity: 0.85;
            }
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #1d53d1;
        }
        .card-subtitle {
            font-size: 1.4em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #ffffff;
        }
    }

    @media (min-width: 600px) {
        .test {
            width: 60%;
            margin: 10px auto;
        }
    }

}

