page-howtoget {
    ion-navbar{
        color: linear-gradient(10deg,rgba(8, 22, 206, 0.644),rgb(255, 255, 255));
      }
      ion-content{
        background: rgb(229, 227, 223);
        #map {
          width: 100%;
          height: 330px;
          opacity: 0;
          transition: opacity 150ms ease-in;
          display: block;
          &.show-map{
            opacity: 1;
          }
        }
        .scroll{
          height: calc(100% - 250px);
        }
      }
}
